<div class="container">
    <h1>Contact</h1>

    <ul class="social-media">
        <li><a href="https://bitbucket.org/yaminichakka/" style="color: var(--green);"><i class="fa fa-bitbucket"></i></a></li>
        <li><a href="https://github.com/yamini465/" style="color: var(--green);"><i class='bx bxl-github'></i></a></li>
        <li><a href="https://www.linkedin.com/in/yamini-chakka-665257128/" style="color: var(--green);"><i class='bx bxl-linkedin-square'></i></a></li>
    </ul>
    <!-- <i class="fa fa-bitbucket fa-lg"></i> -->

    <ul class="contact-info">
        <li>Mobile: 9705163493</li>
        <li>yamini.chakka@outlook.com</li>
    </ul>
</div>